<li>
	<div class="burger_box">
	{{name_of_burger}}

	<button class="change-burger" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}Nom Nom!{{else}}Eat more?
		<button class="delete-burger fas fa-trash" data-id="{{this.id}}"></button>
		{{/if}}
	</button>
	</div>
</li>